@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

::-webkit-scrollbar {
  display: none;
}

body {
  background-image: url("https://i.imgur.com/3pzRj9n.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.menu {
  font-family: "Quicksand", sans-serif;
  color: #fff;
  position: absolute;
  text-align: center;
  top: 50px;
  left: 75px;
  width: 350px;
  background: rgba(33, 33, 33, 0);
}

.image {
  max-height: 150px;
  max-width: 350px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.head {
  display: block;
  overflow: hidden;
  text-align: center;
  background: rgba(10, 10, 10, 0.9);
  height: 32px;
}

.menu .head {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
}

.menu .menu-items {
  max-height: 450px;
  overflow-y: auto;
  font-weight: 700;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.85) 0%,
    rgba(0, 0, 0, 0.65) 90%
  );
  padding: 25px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.menu .menu-items .menu-item {
  display: block;
  padding: 7px;
  font-size: 15px;
  height: 16px;
  background: rgba(30, 30, 30, 0.8);
  color: rgb(202, 202, 202);
  margin-bottom: 8px;
  border-radius: 8px;
}

.menu .menu-items .menu-item.selected {
  background: rgb(202, 202, 202);
  color: rgba(30, 30, 30, 0.8);
  letter-spacing: 0.2px;
}
